<li class='question' date-question-id=<%= question.id %>>
  <div class='visit-state'>
    <ul>
      <li>
        <span>0</span>
        <span>votes</span>
      </li>
      <li>
        <span>0</span>
        <span>answers</span>
      </li>
      <li>
        <span>0</span>
        <span>views</span>
      </li>
    </ul>
  </div>
  <div class='infor'>
    <div class='title'>
      <%= link_to question.title, question %>
    </div>
    <div>
      <div class='tags'></div>
      <div class='edit-state'></div>
    </div>
  </div>
</li>