<div class='categories'>
  <span>Questions</span>
  <span>Tags</span>
  <span>Users</span>
  <span>Badges</span>
  <span>Unanswered</span>
  <span class='ask-question'>Ask Question</span>
</div>

<div class='center'>
  <div class='questions' style='background-color: #ffefc6;'>
    <ul class='questions'>
      <% @questions.each do |question| %>
        <%= render partial: "question", locals: {question: question} %>
      <% end %>
    </ul>
  </div>
  <div class='right-bar'>
  </div>
</div>

<div class='advise'>
</div>
