// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$interesting-background-color:  #ffefc6;

.categories {
  span {
    background-color: #777;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
  }

  span.ask-question {
    position: absolute;
    right: 230px;
  }
}

.center {
  margin: 20px auto;
  .questions {
    li.question {
      position: relative;
      .visit-state {
        display: inline-block;
        ul>li {
          height: 50px;
          width: 50px;
          display: inline-block;
          span {
            display: block;
          }
        }        
      }
      .infor {
        display: inline-block;
      }
    }
  } 
}