$header-height: 34px;
$header-width: 980px;
$header-background-color: rgba(0,0,0,0.86);

#header {
  margin: 0;
  height: $header-height;
  position: static;
  background-color: $header-background-color;
  color: white;

  .container {
    margin: 0 auto;
    width: $header-width;
    height:$header-height;

    .log {
      line-height: $header-height;
      font-size: 22px;
    }
  }
}