<div id='header'>
  <div class='container'>
    <span class='log'>Stack Overflow</span>
    <div class='user-infor'>
      <% if current_user.present? %>
        <span class='email'>
          <%= current_user.email %>
        <span>
          | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>| <%= link_to "Sign up",new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>